name: Nix checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  flake-check:
    runs-on: UbuntuLatest32Cores128G
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/flake-checker-action@main
        # reinstate when secure packages doesn't cause failure
        if: false
        with:
          fail-mode: true

      - uses: DeterminateSystems/determinate-nix-action@main

      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Nix formatting
        run: nix develop --command check-nix-fmt

      - name: Nix flake check
        run: nix flake check --print-build-logs --all-systems
