name: Release Tags

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build

    concurrency: release
    runs-on: ubuntu-latest
    permissions:
      contents: write # In order to upload artifacts to GitHub releases
      id-token: write # In order to request a JWT for AWS auth
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create the artifacts directory
        run: rm -rf ./artifacts && mkdir ./artifacts

      # aarch64-darwin
      - uses: ./.github/actions/download-persist
        with:
          arch: ARM64
          os: macOS

      # x86_64-linux
      - uses: ./.github/actions/download-persist
        with:
          arch: X64
          os: Linux

      # aarch64-linux
      - uses: ./.github/actions/download-persist
        with:
          arch: ARM64
          os: Linux

      - uses: DeterminateSystems/push-artifact-ids@main
        with:
          s3_upload_role: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          bucket: ${{ secrets.AWS_S3_UPLOAD_BUCKET }}
          directory: ./artifacts
          ids_project_name: fh
          ids_binary_prefix: fh

      - name: Rename binaries for GH release
        run: |
          mv ./artifacts/{,fh-}X64-Linux
          mv ./artifacts/{,fh-}ARM64-macOS
          mv ./artifacts/{,fh-}ARM64-Linux

      - name: Publish Release to GitHub (Tag)
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          draft: true
          files: |
            artifacts/**
